span.image.avatar48
  background: none

section.dark
  header
    text-shadow: 2px 1px black

.icons
  margin-bottom: 1em

ul.bottom-list
  list-style: none
  padding-left: 2em
  padding-right: 2em
  text-align: center

  li
    display: inline-block
    a
      font-size: 0.6em
      color: rgba(255, 255, 255, 0.5)
      padding-top: 0.5em
      padding-bottom: 0.5em

      padding-right: 0.5em
      padding-left: 0.5em
      border-bottom: unset

